{% extends 'base.html.twig' %}

{% block title %}Generate shorten link{% endblock %}

{% block stylesheets %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        .invalidLink {color: red}
        .invalidLink em {color: blue}
    </style>
{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Link shortener</h1>
    {{ form_start(form) }}
    {{ form_row(form.originLink) }}
    {{ form_row(form.generate) }}
    {{ form_end(form) }}

    {% if invalidLink %}
        <p class="invalidLink">URL <em>{{ invalidLink }}</em> is unavailable or invalid</p>
    {% endif %}
</div>
{% endblock %}
