{% extends 'base.html.twig' %}

{% block title %}Shorten link{% endblock %}

{% block stylesheets %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .button1 {font-size: 20px; padding: 10px 30px}
    .copyInput {font-size: 17px}
    .back h1, .back p {display: inline}
</style>
{% endblock %}

{% block body %}
<div class="example-wrapper">
    <div class="back"><h1>Shorten link</h1> <a href="{{ path('generate_link') }}">Back to link shortener</a></div>
    <br>
    {% if link %}
        <input id="myInput" class="copyInput" value="{{ link }}" readonly>
        <br>
        <button class="button1" onclick="myFunction()">Copy text</button>
    {% else %}
        <h2>Link not found</h2>
        <p>Probably expired or does not exist</p>
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
<script>
    /* Source: https://www.w3schools.com/howto/howto_js_copy_clipboard.asp */
    function myFunction() {
        var copyText = document.getElementById("myInput");

        copyText.select();
        copyText.setSelectionRange(0, 99999);

        document.execCommand("copy");

        alert("Copied the text: " + copyText.value);
    }
    /* */
</script>
{% endblock %}
